body {
  margin: 3px;
}

header, aside {
  background-color: rgba(127, 255, 212, 0.651);
}

header {
  width: 100%;
  height: 100px;
  margin-bottom: 2px;
}

#enterChat {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.438);
  text-align: center;
}

#nameList, #chatBox {
  float: left;
}

#nameList {
  height:550px;
  width: 25%;
}

#chatBox {
  height: 550px;
  width: 75%;
}

#chatDisplay{
  background-color: rgba(87, 204, 64, 0.719);
  height: 85%;
  overflow-y: auto;
  padding-right: 5px;
  padding-left: 5px;
}

#chatInp {
  background-color:rgba(210, 211, 226, 0.712);
  height: 15%;
}

#typeMsg {
  margin-top: 20px;
  margin-left: 20px;
  width: 85%;
}

.message, .reply {
  width: 30%;
  height: 50px;
  border-radius: .4em;
  word-wrap: break-word;
  position: relative;
}

.message::after { 
  content: ''; 
  position: absolute; 
  right: 0; 
  top: 50%; 
  width: 0; 
  height: 0; 
  border: 1.188em solid transparent; 
  border-left-color: rgba(255, 255, 255, 0.719);; 
  border-right: 0; 
  border-bottom: 0; 
  margin-top: -0.594em; 
  margin-right: -1.187em; 
}

.message {
  background-color: rgba(255, 255, 255, 0.719);
  margin-left: auto;
  margin-right: 2%;
}

.reply {
  background-color: white;
  margin-right: auto;
  margin-left: 2%;
}

.reply::after {
  content: ''; 
  position: absolute; 
  left: 0; 
  top: 50%; 
  width: 0; 
  height: 0; 
  border: 1.188em solid transparent; 
  border-right-color: white; 
  border-left: 0; 
  border-bottom: 0; 
  margin-top: -0.594em; 
  margin-left: -1.187em;
}

.notification {
  text-align: center;
  min-width: 30%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;   
}

#chatList {
  list-style-type: none;
}